body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

.foro {
  max-width: 800px;
  margin: 20px auto;
}

.tema {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

footer {
  background-color: #EF476F;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.container-fluid{
  background-color: #EF476F;
  padding: 20px;
  margin: 0px;
}
